<empty name="infos">
	<div class="nothing"></div>
</empty>
<notempty name="infos">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/getInfo.css">
	<div class="taslctLayer2"></div>
	<div id="showInfo-goTop" title="回到顶部" onselectstart="return false;">&#xe64a;</div>
	<div id="showCont">
		<span id="showCont-close" onselectstart="return false;">&#xe6b2;</span>
		<img src="__PUBLIC__/SysImg/loading2.gif" id="showCont-loading">
		<div id="showCont-title"></div>
		<div id="showCont-Cont"></div>
		<div id="showCont-pulishTime"></div>
	</div>
	<div id="infos-warn">仅展现最近50条信息</div>
	<foreach name="infos" item="v" key="k">
		<div class="info" id="<{$v.iid}>">
		<if condition="$v.status eq 0">
			<div class="infoImg color-yellow">&#xe6e6;</div>
		<else/>
			<div class="infoImg color-gray">&#xe6e6;</div>
		</if>
		<div class="title"><{$v.title}></div>
		<div class="pulishTime"><{$v.publishTime}></div>
		</div>
	</foreach>
	<script type="text/javascript">
		$("#showInfo-goTop").click(function(){
			$("body,html").stop(true,false).animate({"scrollTop":0},300,"linear");
		});
		$(".info").click(function(){
			var iid=this.id;
			var _this=$(this);
			var showContCont=$("#showCont-Cont");
			showContCont.text("");
			var showContLoading=$("#showCont-loading");
			showContLoading.show();
			$("#showCont-title").text($(this).children(".title").text());
			$("#showCont-pulishTime").text($(this).children(".pulishTime").text());
			var showContUrl="/YunPhotoAlbum/UserCenter/showCont/iid/"+iid;
			$.get(showContUrl,function(data){
				switch(data.info){
					case 'success':
					case 'error2':
						showContLoading.hide();
						showContCont.text(data.content);
						getInfo(infowarn);
						_this.children(".color-yellow").removeClass('color-yellow').addClass('color-gray');break;
					case 'noLogin':fail("&#xe691;","请先登录");setTimeReload();break;
					case 'error':
					default:fail("&#xe691;","发生错误");getInfo(infowarn);
				}
			}).fail(function(){
				fail("&#xe691;","发生错误");
			});
			$(".taslctLayer2").show();
			$("#showCont").show();
		});
		$("#showCont-close").click(function(){
			$("#showCont").hide();
			$(".taslctLayer2").hide();
		});
		function setTimeReload(){
			setTimeout(function(){
				location.reload();
			},1500);
		}
	</script>
</notempty>
