@charset "utf-8";
.login_head{
	width:100%;
	height:40px;
	background-color:#00a2ff;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	font:25px "黑体","微软雅黑","宋体";
	color:#fff;
	line-height:40px;
	text-align:left;
}
#lgclose{
	display:inline-block;
	width:20px;
	height:40px;
	font:20px iconfont;
	line-height:40px;
	color:#e5e5e5;
	float:right;
	margin-right:20px;
	cursor:pointer;
}
#lgclose:hover{
	color:#ff0000;
}
.lgbox{
	width:250px;
	height:auto;
	display:inline-block;
	border:1px solid #ccc;
	white-space:nowrap;
	font-size:0;
	margin-top:10px;
}
.lgImg{
	width:40px;
	height:40px;
	font:30px iconfont;
	text-align:center;
	line-height:40px;
	display:inline-block;
	vertical-align:middle;
	background-color:#00a2ff;
}
.lgInput{
	width:200px;
	height:40px;
	display:inline-block;
	vertical-align:middle;
	border:0;
	outline:none;
	padding-left:10px;
	font:18px "微软雅黑","黑体","宋体";
	line-height:40px;
}
.lgBtt{
	width:250px;
	height:30px;
	margin-top:20px;
	border:0;
	outline:none;
	background-color:#00a2ff;
	border-radius:5px;
	font:18px "微软雅黑","黑体";
	color:#fff;
	letter-spacing:10px;
	cursor:pointer;
}
.lgBtt:hover{
	background-color:#4F94CD;
}
.lgbottom{
	/*position:absolute;*/
	width:100%;
	height:20px;
	/*bottom:20px;*/
	margin-top:40px;
	margin-bottom:20px;
	text-align:center;
}
.lgbottom a{
	color:#00a2ff;
	text-decoration:none;
}
.lgbottom a:hover{
	text-decoration:underline;
}
.lgErrDiv{
	display:none;
	width:250px;
	height:auto;
	font-size:14px;
	color:#ff0000;
	text-align:left;
}