<script type="text/javascript">
	var moveHtml="";
	(function(){
		var getMyAlbumURL="/YunPhotoAlbum/MyAlbum/getMyAlbum/t/"+$.now();
		$.post(getMyAlbumURL,function(data){
			$.each(data,function(k,v){
				moveHtml+='<div class="albumDiv">';
				moveHtml+='<img src="__PUBLIC__/SysImg/folderImg.png" class="albumImg">';
				moveHtml+='<label class="albumName" for="'+v.PAId+'">';
				moveHtml+=v.PAName+'</label>';
				moveHtml+='<input type="radio" name="album" id="'+v.PAId+'" class="albumRadio">';
				moveHtml+='<div class="selOn"></div></div>';
			});
			$(document).ready(function(){
				$("#albums").append(moveHtml);
			});
		}).fail(function(){
			fail("&#xe613;","出错啦~");
		});
	})();
</script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/photo.css">
<div id="selMoveAlbum">
	<div id="selMovAlm-title">
		选择相册<span id="selMovAlm-help">&#xe605;</span>
		<span id="help-cont">滑动鼠标中间键可获取更多相册</span>
		<span id="selMovAlm-close">&#xe601;</span>
	</div>
	<div id="albums">
		<div class="albumDiv">
			<img src="__PUBLIC__/SysImg/folderDefault.png" class="albumImg">
			<label class="albumName" for="pa001"><b>默认相册</b></label> 
			<input type="radio" name="album" id="pa001" class="albumRadio">
			<div class="selOn"></div>
		</div>
	</div>
	<button id="moveNow">确定移动</button>
</div>
<div id="myPhotoOptWarn">
	<div id="optWarnTitle">
		<span id="warnTitleImg">&#xe691;</span>提示
	</div>
	<div id="optWarnCont">操作不可逆!!</div>
	<div id="optWarnBtt">
		<button id="IKnow">我知道了!</button>
		<button id="ICancle">取消</button>
	</div>
</div>
<div id="uploadAll">
	<div class="uploadDiv">
		<input type="file" name="uploadPhoto" id="uploadPhoto" title="上传图片" accept="image/png,image/gif,image/jpeg,image/jpg,image/png">&#xe78c;
	</div>
</div>
<div class="allContent" id="<{$PAId}>" style="font-size:0">
	<div id="myPhotoOpt">
		<a href="javascript:void(0)" id="batchOpt">
			<span style="margin-right:5px">&#xe60e;</span>批量操作
		</a>
		<ul id="batchOptUl" onselectstart="return false;">
			<li id="batchSel" class="batchOptLi"><span style="margin-right:5px">&#xe670;</span>全选</li>
			<li id="batchNotSel" class="batchOptLi"><span style="margin-right:5px">&#xe703;</span>全不选</li>
			<li id="batchDel" class="batchOptLi"><span style="margin-right:5px">&#xe634;</span>批量删除</li>
			<li id="batchMove" class="batchOptLi"><span style="margin-right:5px">&#xe660;</span>批量移动</li>
			<li id="optCancle" class="batchOptLi"><span style="margin-right:5px">&#xe710;</span>取消</li>
		</ul>
		<img src="__PUBLIC__/SysImg/loading2.gif" ondragstart="return false;" id="btcOptLoading">
		<a href="javascript:void(0)" id="uploadImg">
				<span style="margin-right:5px">&#xe66f;</span>上传图片
		</a>
		<span id="myPhotoOptErr"></span>
	</div>
	<foreach name="photos" item="v">
		<div class="myPhoto" onselectstart="return false;">
			<div class="checkboxDiv">
				<input type="checkbox" id="<{$v.pid}>" class="checkbox">
				<label for="<{$v.pid}>" class="checkboxLb" title="选择"></label>
			</div>
			<img src="<{$v.PLink}>/w/159/h/180/">
			<ul class="phImg_opt" onselectstart="return false;">
				<li class="delImg" title="删除" id="pid-<{$v.pid}>">&#xe634;</li>
				<li class="moveImg" title="移动到其他相册" id="id-<{$v.pid}>">&#xe660;</li>
			</ul>
		</div>
	</foreach>
</div>
<script type="text/javascript">
	$(".allContent").on("mouseenter",".myPhoto",function(event){
		var del=$(this).find(".phImg_opt");
		del.stop(true,false).animate({bottom:0},200,"linear");
		$(this).on("mouseleave",function(){
			del.stop(true,false).animate({bottom:"-30px"},200,"linear");
		});
	});
	$(".allContent").on("mouseenter",".checkboxDiv",function(event){
		return false;
	});
	$("#batchOpt").click(function(){
		$(this).hide();
		$("#uploadImg").hide();
		$("#batchOptUl").css({display:"inline-block"});
		$(".checkboxDiv").show();
	});
	$("#batchSel").click(function(){
		$(".checkbox").prop("checked",true);
	});
	$("#batchNotSel").click(function(){
		$(".checkbox").prop("checked",false);
	});
	$("#optCancle").click(function(){
		$("#batchOptUl").hide();
		$("#batchOpt").show();
		$("#uploadImg").show();
		$(".checkboxDiv").hide();
		$("#myPhotoOptErr").text("").hide();
		$(".checkbox").prop("checked",false);
	});
	var canBatchDel=true;	//防止重复点击
	var cmfDel=true;		//防止重复提交
	$("#batchDel").click(function(){
		if(!canBatchDel){return false;}
		var sel_checked=$(".checkbox:checked");
		if(!checkTest(sel_checked)){return false;}
		canBatchDel=false;
		$(".taslctLayer").show();
		$("#myPhotoOptWarn").show();
	});
	$("#ICancle").click(function(){
		$("#myPhotoOptWarn").hide();
		$(".taslctLayer").hide();
		$("#optCancle").trigger("click");
		canBatchDel=true;
		cmfDel=true;
	});
	var batchDelURL="/YunPhotoAlbum/MyAlbum/deletePh/t/"+$.now();
	$("#IKnow").click(function(){
		$("#myPhotoOptWarn").hide();
		$(".taslctLayer").hide();
		$("#btcOptLoading").show();
		if(!cmfDel){
			return false;
		}
		var selector=$(".checkbox:checked");
		var pids=parsePid(selector);
		if(!pids){
			$("#ICancle").trigger("click");
			$("#btcOptLoading").hide();
			fail("&#xe613;","出错啦~");
			return false;
		}
		cmfDel=false;
		var delImgs=selector.parents(".myPhoto");
		delImgs.hide();
		$.post(batchDelURL,{"pids":pids},function(data){
			switch(data.info){
				case "noLogin":
					delImgs.show();
					login();break;
				case "success":
					fail("&#xe687;","删除成功");
					delImgs.remove();break;
				case "error":
				default:delImgs.show();
				fail("&#xe613;","出错啦~");
			}
			cmfDel=true;
			$("#ICancle").trigger("click");
			$("#btcOptLoading").hide();
		}).fail(function(){
			$("#ICancle").trigger("click");
			$("#btcOptLoading").hide();
			cmfDel=true;
			delImgs.show();
			fail("&#xe613;","出错啦~");
		});
	});

	var movePids="";
	var movePhotoId="";
	$("#batchMove").click(function(){
		var sel_checked=$(".checkbox:checked");
		if(!checkTest(sel_checked)){return false;}
		$(".taslctLayer").show();
		$("#selMoveAlbum").show();
		var selector=$(".checkbox:checked");
		movePids=parsePid(selector);
		movePhotoId=selector.parents(".myPhoto");
	});

	$(".allContent").on("click",".moveImg",function(){
		movePids=(this.id).split("-")[1];
		movePhotoId=$(this).parents(".myPhoto");
		$(".taslctLayer").show();
		$("#selMoveAlbum").show();
	});
	var canBatchMove=true;
	var moveURL="/YunPhotoAlbum/MyAlbum/movePhoto/t/"+$.now();
	$("#moveNow").click(function(){
		if(!canBatchMove||movePids==""||movePhotoId==""){return false;}
		var paid=$(".albumRadio:checked").attr("id");
		if(!paid){
			fail("&#xe691;","请选择相册");
			return false;
		}
		canBatchMove=false;
		var btcOptLoading=$("#btcOptLoading");
		btcOptLoading.show();
		movePhotoId.hide();
		$.post(moveURL,{"paid":paid,"pids":movePids},function(data){
			switch(data.info){
				case "noLogin":movePhotoId.show();login();break;
				case "success":movePhotoId.remove();fail("&#xe687;","移动成功");break;
				case "error":
				default:movePhotoId.show();fail("&#xe613;","出错啦~");break;
			}
			$("#selMovAlm-close").trigger("click");
			btcOptLoading.hide();
		}).fail(function(){
			$("#selMovAlm-close").trigger("click");
			btcOptLoading.hide();
			movePhotoId.show();
			fail("&#xe613;","出错啦~");
		});
	});

	$("#selMovAlm-help").on("mouseenter",function(){
		var helpCont=$("#help-cont");
		helpCont.css("display","inline-block");
		$(this).on("mouseleave",function(){
			helpCont.hide();
		});
	});
	$("#selMovAlm-close").click(function(){
		$("#selMoveAlbum").hide();
		$(".taslctLayer").hide();
		$(".albumRadio").prop("checked",false);
		$("#optCancle").trigger("click");
		canBatchMove=true;
	});

	var canDel=true;
	$(".allContent").on("click",".delImg",function(event){
		if(!canDel){
			return false;
		}
		canDel=false;
		var pid=(this.id).split("-")[1];
		var delImg=$(this).parents(".myPhoto");
		delImg.hide();
		$.post(batchDelURL,{"pids":pid},function(data){
			switch(data.info){
				case "noLogin":delImg.show();login();break;
				case "success":delImg.remove();fail("&#xe687;","删除成功");break;
				case "error":
				default:delImg.show();fail("&#xe613;","出错啦~");
			}
			canDel=true;
		}).fail(function(){
			delImg.show();
			canDel=true;
			fail("&#xe613;","出错啦~");
		});
	});

	var albumsObj=$("#albums");
	var isCanScroll=true;
	$("#selMoveAlbum").on("mousewheel DOMMouseScroll",function(event){
		if(!isCanScroll){return false;}
		event.preventDefault();
		event=event.originalEvent;
		var direction=(event.wheelDelta&&(event.wheelDelta>0?1:-1))||(event.detail&&(event.detail>0?-1:1));
		if(direction>0){
			albumsObj.stop(true,false).animate({"scrollTop":"-=80px"},100,"linear",function(){
				isCanScroll=true;
			});
		}else{
			albumsObj.stop(true,false).animate({"scrollTop":"+=80px"},100,"linear",function(){
				isCanScroll=true;
			});
		}
	});

	function checkTest(selector){
		var selLen=selector.length;
		var myPhotoOptErr=$("#myPhotoOptErr");
		if(selLen<=0){
			myPhotoOptErr.text("没有选择的内容").show();
			return false;
		}
		myPhotoOptErr.hide();
		return true;
	}

	function parsePid(selector){		//解析图片的pid
		var pids="";
		if(selector.length<=0){
			return "";
		}
		selector.each(function(){
			pids+=this.id+",";
		});
		return pids;
	}

	$("#uploadPhoto").change(function(){
		var txt=$.trim($(this).val());
		if(txt==""){return false}
	});
</script>